{
  "is_capcut_env": true,
  "draft_domain": "https://www.install-ai-guider.top",
  "port": 9001,
  "preview_router": "/draft/downloader",
  "is_upload_draft": false,
  "oss_config": {
    "bucket_name": "your-bucket-name",
    "access_key_id": "your-access-key-id",
    "access_key_secret": "your-access-key-secret",
    "endpoint": "https://your-endpoint.aliyuncs.com"
  },
  "mp4_oss_config": {
    "bucket_name": "your-mp4-bucket-name",
    "access_key_id": "your-access-key-id",
    "access_key_secret": "your-access-key-secret",
    "region": "your-region",
    "endpoint": "http://your-custom-domain"
  }
}